<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test page HTML</title>
    <link rel="alternate" type="application/json+oembed"
      href="https://miro.com/api/v1/oembed?url={{ boardUrl }}&format=json"
      title="Test page JSON" />
    <link rel="alternate" type="text/xml+oembed"
      href="https://miro.com/api/v1/oembed?url={{ boardUrl }}&format=xml"
      title="Testpage XML" />
    <link
      rel="iframely"
      href="https://miro.com/app/live-embed/{{boardId}}?autoplay=true"
      media="(aspect-ratio: 1280/720)" />
  </head>

  <body>
    Hello...
  </body>
</html>